@model Icaz.com.Models.Makale

@{
    ViewData["Title"] = "MakaleCreate";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}
else if (TempData["Message1"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message1"]
    </div>
}


<h4 class="m-4">Makale</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-11 m-3">
        <form asp-action="MakaleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="MakleAdi" class="control-label">Makale Adı</label>
                <input asp-for="MakleAdi" class="form-control" />
                <span asp-validation-for="MakleAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakleOzet" class="control-label">Makale Özeti</label>
                <textarea rows="2" asp-for="MakleOzet" class="form-control "></textarea>
                <span asp-validation-for="MakleOzet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakleMetni" class="control-label">Makale Metini</label>
                <textarea rows="7" asp-for="MakleMetni" class="form-control"></textarea>
                <span asp-validation-for="MakleMetni" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="KonuId" class="control-label">Makale Konusu</label>
                <select asp-for="KonuId" class="form-control" asp-items="ViewBag.KonuId">
                    @foreach (var item in ViewBag.Konular)
                    {
                        <option value="@item.KonuId">@item.KonuAdi</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary " />
                <a class="btn btn-dark m-3" asp-controller="User" asp-action="Index">←Home Sayfasına Dön</a>
            </div>
        </form>
        
            
        
    </div>
</div>




