@using Icaz.com.Models.View_Halper;

@{
    ViewData["Title"] = "MemberUploadP";
}

@model MemberUploadP

<div class="row">
    <div class="col-md-12">
        <form asp-controller="User" asp-action="MemberUploadP" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label class="control-label" asp-for="ImgFile"></label>
                <div class="col-md-8">
                    <input asp-for="ImgFile" class="form-control" type="file" >
                    <span class="text-danger" asp-validation-for="ImgFile"></span>
                </div>
            </div>
            <div class="form-group mt-3 col-12">
                <input type="submit" value="Kaydet" class="btn btn-success col-3 " />
            </div>
        </form>
    </div>

</div>
