@using Icaz.com.Models.View_Halper;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PasswordUpdate
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}
else if (TempData["Message1"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message1"]
    </div>
}
<div class="row m-2">
    <div class="col-11">
        <form asp-action="PasswordUpdate">

            <div class="form-group ">
                <label asp-for="OldPassword" class="control-label">Eski Şifreniz</label>
                <input required asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Yeni Şifreniz</label>
                <input required asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Kaydet" class="btn btn-primary col-3 " />
            </div>
        </form>

        <span class="row col-3 m-0">
            <a class="btn btn-danger mt-3 p-3 " asp-action="MemberDelete">Hesabı Sil</a>
        </span>

    </div>
</div>