@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Makale>
   
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @{
                foreach (Makale item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a method="post" asp-action="Makale" asp-route-id="@item.MakaleId">
                            
                            <h2 class="post-title">@item.MakleAdi</h2>
                            <h3 class="post-subtitle">@item.MakleOzet</h3>
                        </a>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }


            }

            <!-- Pager-->

            
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary " asp-controller="Home" asp-action="Makaleler" >Daha Fazla Gör →</a>
                </div>
            

        </div>
    </div>
</div>
