@using Icaz.com.Models.View_Halper;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LoginUser

@{
    ViewData["Title"] = "Login";
}
@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger " role="alert">
            @TempData["Message"]
        </div>
    }
}
<h1 class="m-2">Login</h1>

<hr class="my-4" />
<div class="row justify-content-center">
    <div class="col-3 m-3">

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Eposta" class="control-label">Eposta Adresi</label>
                <input asp-for="Eposta" class="form-control" />
                <span asp-validation-for="Eposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Giriş Yap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>